<%# - 青木 要更新- 20231015 SPA %>
<%# ¥ 操作後変更したいもの - 置き換えられるもの %>
<%= turbo_frame_tag commodity_category do %>
  <%# <div class="flex hover:bg-gray-50"> %>
  <div class="flex hover:bg-amber-50">
    <%# ¥ turbo_streamを使うかどうかによってアイテムの番号を変化させる %>
    <%# ! _counterは 呼び出し元が render @commodity_categories などの collection時のみ使える %>
    <%# ! turbo_stream.prepend "commodity_categories" では collectionとならないため使えないため条件分岐が必要 %>
    <%# - Determine the value of num_counter based on various conditions %>
    <% if defined?(commodity_category_counter) && commodity_category_counter %>
      <!-- Turbo stream specific rendering logic -->
      <% num_counter = commodity_category_counter + 1 %>
    <% elsif local_assigns[:within_turbo_stream_create] %>
      <!-- Turbo stream specific rendering logic -->
      <% num_counter = "登録完了" %>
    <% elsif local_assigns[:within_turbo_stream_update] %>
      <!-- Turbo stream specific rendering logic -->
      <% num_counter = "更新完了" %>
    <% elsif local_assigns[:go_back] %>
      <!-- Turbo stream specific rendering logic -->
      <% num_counter = "編集中止" %>
    <% else %>
      <!-- Your original rendering logic -->
      <% num_counter = "unknown" %>
    <% end %>
    <!-- No. Column -->
    <%# ¥ items-center　border-r border-b  border-gray-300付け足し %>
    <div
      class="
        flex-none
        flex
        gap-3
        px-6
        py-4
        w-1/6
        border-r
        border-b
        border-gray-300
        items-center
      "
    >
      <%# - _counter で indexを使える!! %>
      <div class="text-sm font-medium text-gray-700"><%= num_counter %></div>
    </div>
    <!-- Name Column -->
    <%# ¥ border-r border-b  border-gray-300　付け足し %>
    <div class="flex-grow px-6 py-4 border-r border-b border-gray-300">
      <span
        class="
          inline-flex
          items-center
          gap-1
          rounded-full
          bg-green-50
          px-2
          py-1
          text-base
          font-semibold
          text-green-600
        "
      >
        <%# <span class="h-1.5 w-1.5 rounded-full bg-green-600"></span> %>
        <%= commodity_category.name %>
      </span>
    </div>
    <!-- Icons Column -->
    <%# ¥ border-r border-b  border-gray-300　付け足し + justify-center %>
    <div
      class="
        flex-none
        flex
        justify-center
        gap-4
        px-6
        py-4
        w-1/6
        border-r
        border-b
        border-gray-300
      "
    >

    </div>
  <% end %>
