<header>
  <span class="logo-mark">営業アポ管理</span>
  <div>: current_account.present?: <%= current_account.present? %></div>
  <%=
    if current_account.present?
      link_to "ログアウト", :session, data: { turbo_method: :delete }, class: "apl-btn-orange"
    else
      link_to "ログイン", :login, class: "apl-btn-blue"
    end
  %>
  <%# <a class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded">ボタン</a> %>
</header>
