header {
  padding: 5px;
  background-color: aqua;
  color: #eeeeee;
  span.log-mark {
    font-weight: bold;
  }
}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #eeeeee;
  #copy-right {
    text-align: center;
    padding: 5px;
    margin:0;
  }
}
